.mojdiv{
 display: flex;

}

.divv{
 text-align: center;
 margin-top: 30px;
 margin-left: 10px;
  width: 60px;
 height: 30px;
 /* background-color: aqua; */

}



#div6{
 margin-left: 50px;
}


#div7{
 margin-left: 30px;
}

.border{
 border: 6px solid blue;
}