<div class="container">

  <div class="mojdiv">
    <div class="divv">
      <button class="btn btn-primary" (click)="broj1()" [disabled]="this.brojj1">{{this.brojj1}}</button>
    </div>

    <div class="divv">
      <button (click)="broj2()" class="btn btn-primary" [disabled]="this.brojj2">{{this.brojj2}}</button>
    </div>

    <div class="divv">
      <button class="btn btn-primary" (click)="broj3()" [disabled]="this.brojj3">{{this.brojj3}}</button>
    </div>

    <div class="divv">
      <button class="btn btn-primary" (click)="broj5()" [disabled]="this.brojj5">{{this.brojj5}}</button>
    </div>

    <div class="divv" id="div6">
      <button class="btn btn-primary" (click)="broj6()" [disabled]="this.brojod5do25">{{this.brojod5do25}}</button>
    </div>

    <div class="divv" id="div7">
      <button class="btn btn-primary" (click)="broj7()" [disabled]="this.brojod25do100">{{this.brojod25do100}}</button>
    </div>

  </div>


</div>