
  <div class="container">
    <div *ngFor="let trBroj of brojevi" class="row">
      <div *ngFor="let item of trenutni[trBroj]" style="border:1px solid black;">
        {{mapToSign(item)}}
         
      </div>

      <div  *ngFor="let item of trenutniRezultat[trBroj]" style="border:1px solid black;">
        
        <div   *ngIf="item===0">  
0
             </div>

        <div *ngIf="item===1">
1
        </div>
        
        <div *ngIf="item===2">
   2
        </div>

      </div>
    </div>
  </div>

  <div class="container" style="width:100%">
    <div class="row" style="background-color: red;width:100%;">
      <div *ngFor="let symb of symbol"  class="col-2">
        
          <button  (click)="popuniTabelu(symb)">{{symb.name}}  </button>
      
      </div>
    </div>
  </div> 


  
    

