

<div class="container">
 <div class="title">
  <h1>skocko</h1>
 </div>


<div class="tryGrid">
<div>
<div class="glavni"></div>
<div class="glavni"></div>
<div class="glavni"></div>
<div class="glavni"></div>
</div>

</div>





<div class="resultGrid">
 <div>
<div class="krug"></div>
<div class="krug"></div>
<div class="krug"></div>
<div class="krug"></div>
</div>

</div>





<div class="symbolGrid">
 <div>
<div class="simbol"><img src="../assets/image/pik.jpg" alt="" id="pik"></div>
<div class="simbol"><img src="../assets/image/skocko.png" alt="" id="skocko"></div>
<div class="simbol"><img src="../assets/image/sova.jpg" alt="" id="sova"></div>
<div class="simbol"><img src="../assets/image/srce.jpg" alt="" id="srce"></div>
<div class="simbol"><img src="../assets/image/tref.jpg" alt="" id="tref"></div>
<div class="simbol"><img src="../assets/image/zvezda.jpg" alt="" id="zvezda"></div>
</div>
</div>



</div>