.rezultat{
 position: relative;
bottom: 470px;
left: 270px;

}

#app{
height: 400px;
}

input{
 border: 4px solid black;
 width: 500px;
 height: 50px;
}
button{
 height:40px;
 border-radius: 7px;
 justify-content: center;
 
 background-color: aqua;
}

.btt{
 margin-left: 120px;
 width: 290px;
 
}